.cropCount {
    margin: auto !important;
}

.cropCounter-icon {
    width: 10%;
    margin: inherit;
}
.larger-screens {
    display: flex;
}
@media screen and (max-width: 1279px){
    .cropCounter-icon {
        display: inline-flex;
        width: 20px;
    }
    .larger-screens {
        display: none !important;
    }
}
.smaller-screens {
    display: block;
}
@media screen and (min-width: 1280px) {
    .smaller-screens {
        display: none !important;
    }
}