/* Login */

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-list {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.login-list > li {
    margin-right: 1rem;
    display: flex;
}

ul.login-list > li:first-child {
    margin-left: auto;
}

ul.login-list > li > a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

ul.login-list > li > a img {
    margin-right: 1em;
}


/* dashboard */
.is-scrollable {
  overflow-y: auto;
}

.dashboard {
  display: flex;
  flex-direction: row;
}
.dashboard.is-full-height {
  height: 100vh;
}
.dashboard-panel {
  display: flex;
  flex-direction: column;
  padding: 0rem 0rem 2rem 0rem;
  flex: 0 0 25rem;
  height: 100%;
}
.dashboard-panel.left {
  flex: 0 0 25rem;
}
.dashboard-panel.right {
  flex: 0 0 25rem;
}
.dashboard-panel.has-thick-padding {
  padding: 3rem 2rem;
}
.dashboard-panel.is-one-quarter {
  flex: 0 0 25%;
}
.dashboard-panel.is-half {
  flex: 0 0 50%;
}
.dashboard-panel.is-one-third {
  flex: 0 0 33.3333333333%;
}
.dashboard-panel.is-small {
  flex: 0 0 15rem;
}
.dashboard-panel.is-medium {
  flex: 0 0 20rem;
}
.dashboard-panel.is-large {
  flex: 0 0 30rem;
}
.dashboard-panel-header.is-centered, .dashboard-panel-content.is-centered, .dashboard-panel-footer.is-centered, .is-centered {
  display: flex;
  justify-content: center;
}
.dashboard-panel-header {
  margin-bottom: 2rem;
}
.dashboard-panel-main {
  flex: 1;
}
.dashboard-panel-footer {
  margin-top: 2rem;
}
.dashboard-main {
  display: flex;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.dashboard-main .navbar.is-fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.dashboard-main .footer {
  flex: 1;
}
.login-dashboard {
  flex: 1;
  min-height: 60vh;
  max-height: 70vh;
}
.login-center, .login-center main,.login-center main div {
  height: 100%;
}
.login form {
  max-width: 21rem;
  padding: 3rem 3rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.logo-wrapper {
  display: inline-flex;
  width: 25%;
}
.mobile-logo-wrapper {
  width: 45px;
}
#mobileLogo {
  display: flex !important;
  justify-content: center;
}
#mobileCenter {
  align-items: center;
}
.burgerMenu {
  text-align: right;
}

#navMenu {
  color: rgba(0, 0, 0, 0.7) !important;
}
#navMenu.is-active {
  position: absolute;
  top: 52px;
  float: left;
  display: flex;
  right: 0;
}

#mobilePaddingTop {
  padding-top: 2rem;
}
#noPaddingTop.section {
  padding-top: 2rem;
}

/* Crop Counter */

.cropCount {
    margin: auto !important;
}

.cropCounter-icon {
    width: 10%;
    margin: inherit;
}
.larger-screens {
    display: flex;
}
@media screen and (max-width: 1279px){
    .cropCounter-icon {
        display: inline-flex;
        width: 20px;
    }
    .larger-screens {
        display: none !important;
    }
}
.smaller-screens {
    display: block;
}
@media screen and (min-width: 1280px) {
    .smaller-screens {
        display: none !important;
    }
}