@charset "utf-8"

// Link colors

$link: #BAD924

@import "../node_modules/bulma/bulma.sass"
@import "../node_modules/bulma-pageloader"

.menu-list
  svg
    padding: 0 0.75em
    // Modifiers
    &.is-active
      background-color: $menu-item-active-background-color
      color: $menu-item-active-color
  span
    padding: $menu-list-link-padding
    &:hover
      background-color: $menu-item-hover-background-color
      color: $menu-item-hover-color

    // Modifiers
    &.is-active
      background-color: $menu-item-active-background-color
      color: $menu-item-active-color
    cursor: pointer
  li
    padding: .8em 0

.pageloader
  opacity: 0.9
  background: #666666
  margin-left: 20rem
  margin-top: 52px